.wrapper {
  background-color: black;
  color: ghostwhite;
  width: max-content;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  border: none;
  border-radius: 0.5em;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.wrapper:hover {
  background-color: rgb(66, 66, 66);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  
}

.wrapper:active {
  background-color: black;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
