.wrapper {
    flex: 1 1 auto;
    overflow: auto;
}

.boardsWrapper {
    height: 100%;
    display: flex;
    gap: 5px;
}

.board {
    min-width: 200px;
    height: 300px;
    border: 1px solid black; 
}
