.wrapper {
    flex: 1 1 auto;
    overflow: auto;
}

.boardsWrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.board {
    min-width: 200px;
    height: 300px;
    border-radius: 5px; 
    box-shadow: 0 2px 7px grey;
    padding: 10px;
}

.board:hover {
    cursor: pointer;
}

.boardTitle {
    font-size: 22px;
    font-weight: 700;
}

.searchList {
    list-style: none;
}

.searchListItem {
    border-radius: 5px;
    box-shadow: 0 2px 7px grey;
    padding: 10px;
    margin: 5px;
}