.wrapper {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  color: white;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  color: #858585;
}

.link:active {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}
